#field input {height:40px;width:40px;display:block;float:left;}
.el0 {clear:both;}
#field {overflow:hidden;}
#game {margin:0 auto;width:800px;text-align:center;}
#field {display:inline-block;margin-top:20px;}